@import 'styles/_variables';

.sidebar {
  position: fixed;
  left: 0;
  top: 0;

  height: 100%;
  width: 190px;

  background-color: lighten($color: $dark-blue, $amount: 60);
  border-right: 1px solid #e5e5e5;

  margin-top: 75px;
  padding: 20px;
}